body {
    display: block;
    background-color: rgb(154, 201, 243);
    font-size: larger;
}

nav {
    background-color: aliceblue;
}

.hidden {
    display: none;
}

.displaying {
    display: block;
    margin-top: -300px;
    margin-left: 500px;
}

#answersDiv {
    height: 300px;
}

#questionDiv {
    height: 40px;
}

#correctDiv {
    height: 40px;
}